Data Analytics Mid Bootcamp Project

Dataset Bollywood

In [1]:
# Read the three files into python as dataframes

In [2]:
import pandas as pd

In [10]:
actor = pd.read_csv('data/BollywoodActorRanking.csv')
director = pd.read_csv('data/BollywoodDirectorRanking.csv')
movie = pd.read_csv('data/BollywoodMovieDetail.csv')

print(list(actor.columns))
print(list(director.columns))
print(list(movie.columns))

['actorId', 'actorName', 'movieCount', 'ratingSum', 'normalizedMovieRank', 'googleHits', 'normalizedGoogleRank', 'normalizedRating']
['directorId', 'directorName', 'movieCount', 'ratingSum', 'normalizedMovieRank', 'googleHits', 'normalizedGoogleRank', 'normalizedRating']
['imdbId', 'title', 'releaseYear', 'releaseDate', 'genre', 'writers', 'actors', 'directors', 'sequel', 'hitFlop']

In [11]:
# Show the DataFrame's shape.

print(actor.shape)
print(director.shape)
print(movie.shape)

(301, 8)
(118, 8)
(1284, 10)

In [12]:
actor.head()

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
1,374,Shah Rukh Khan,23,2000,7.55009,2670000,7.88458,9.22674
2,375,Salman Khan,36,2340,5.40217,3490000,10.00000,9.20821
3,376,Katrina Kaif,17,1640,8.48082,2120000,6.46570,8.94852
4,377,Deepika Padukone,16,1080,5.64674,3000000,8.73591,8.62716

In [13]:
director.head()

,directorId,directorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,1,Rajkumar Hirani,3,440,10.00000,146000,2.07796,10.00000
1,2,Farah Khan,4,440,7.39474,1060000,8.88317,8.78473
2,3,Karan Johar,5,430,5.68947,1050000,8.80872,7.10460
3,4,Sajid Khan,4,350,5.79605,905000,7.72912,6.99780
4,5,Rohit Shetty,10,950,6.32895,437000,4.24461,6.83761

In [14]:
movie.head()

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1